body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('../img/landinBg.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    padding: 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.input-section {
    margin-bottom: 30px;
}

.input-section, .charts-section {
    width: 100%;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .input-section h2, .charts-section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

.subject-marks-container, .charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subject-marks-container, #targetMarksContainer {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], input[type="number"] {
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
}

.form-control {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

canvas {
    max-width: 45%;
    margin-top: 20px;
}

.charts-container {
    display: flex;
    justify-content: space-between;
}
