body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f5b4b4;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(231, 222, 222, 0.1);
}

header .container {
    margin-bottom: 1%;
    margin-top: 1%;

}

.container {
    width: 98%;
    margin: 0.5%;
    background: rgb(240, 204, 204);
    padding: 0.5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(233, 6, 6, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px; /* Add margin to prevent content from being hidden behind footer */
}

footer {
    background-color: #f5b4b4;
    padding: 10px 0;
    font-size: 0.8em;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.footer-nav a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 5px;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav {
        margin-top: 10px;
    }
}
